.Slogan1{
    background-color: rgb(223, 223, 250);
    width: 25%;
    text-align: center;
    height: 20%;
    margin: 90px ;
    padding: 35px ;
    font-size: 28px;
    font-family: 'sans-serif';
    border: 2px rgb(25, 0, 255) solid;
    display: block;
    border-radius: 8px;
}

.Slogan2{
    background-color: rgb(223, 223, 250);
    width: 25%;
    text-align: center;
    height: 20%;
    top: 0;
    margin: 90px;
    padding: 30px ;
    font-size: 28px;
    font-family: 'sans-serif';
    border: 2px rgb(25, 0, 255) solid;
    display: block;
    border-radius: 8px;
}

.Slogan3{
    background-color: rgb(223, 223, 250);
    width: 25%;
    text-align: center;
    height: 20%;
    margin: 90px;
    padding: 35px ;
    font-size: 28px;
    font-family: 'sans-serif';
    border: 2px rgb(25, 0, 255) solid;
    display: block;
    border-radius: 8px;
}



@media only screen and (max-width: 1024px){

    .Slogan1{
        background-color: rgb(248, 191, 86);
        width: 30%;
        text-align: center;
        height: 20%;
        margin: 190px;
        padding: 20px ;
        font-size: 25px;
        font-family: 'sans-serif';
        border: 1px rgb(255, 187, 0) solid;
        display: block;
        
    }
    
    .Slogan2{
        background-color: rgb(248, 191, 86);
        width: 30%;
        text-align: center;
        height: 20%;
        margin: 190px ;
        padding: 20px ;
        font-size: 25px;
        font-family: 'sans-serif';
        border: 1px rgb(255, 187, 0) solid;
        display: block;
       
    }
    
    .Slogan3{
        background-color: rgb(248, 191, 86);
        width: 30%;
        text-align: center;
        height: 20%;
        margin: 190px;
        padding: 20px ;
        font-size: 25px;
        font-family: 'sans-serif';
        border: 1px rgb(255, 187, 0) solid;
        display: block;
        
    }
   

}